# Editors and IDEs
/.idea/
*.sublime-workspace
*.sublime-project

# Windows image file caches
Thumbs.db

# Mac folder view config
.DS_Store
Desktop.ini

# Python compiled files
*.py[co]

# PHP Composer files
/composer.phar
/composer.lock
/vendor/

# Sass
## From https://github.com/github/gitignore
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

# Vagrant files
/.vagrant/
