language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_script:
    - composer self-update
    - composer install --verbose --dev --prefer-source --no-interaction -o

script:
    - ./vendor/bin/phpunit -c ./tests
    - ./vendor/bin/phpcs --encoding=utf-8 --extensions=php --standard=./tests/phpcs.xml -nsp ./

notifications:
    email: false
