<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="../vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         verbose="true"
         beStrictAboutTestsThatDoNotTestAnything="false"
>

    <testsuites>
        <testsuite name="Standard Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">../source</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
        </exclude>
        <report>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>

</phpunit>
